* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url("./imgs/stars.jpg");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60vh;
    margin-top: -3vmin;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 4vmin;
    color: white;
    font-family: "Codystar", sans-serif;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vmin;
    color: white;
    font-family: "Rubik Scribble", system-ui;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    color: lightcoral;
}

#hint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5vmin;
    margin: 3vmin auto;
    background-color: lightpink;
    color: black;
    border: 0.2vmin whitesmoke;
    font-size: 1.5vmin;
    padding: 1vmin;
}

#word-reveal {
    color: white;
    display: flex;
    justify-content: center;
    height: 5vh;
    letter-spacing: 0.5vmin;
    font-size: 4.7vmin;
}

#letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 15vh;
    max-width: 90vh;
    margin: 0.5vmin auto;
    border: 0.2vmin black;
}

#letters>button {
    font-weight: bold;
    height: 5vmin;
    width: 5vmin;
    color: palevioletred;
    background-color: lightskyblue;
    border: 0.3vmin solid white;
    font-size: 2vmin;
}

#play-again {
    background-color: lightgoldenrodyellow;
    color: rgb(21, 7, 7);
    padding: 1vmin;
    margin: 2vmin;
    display: flex;
    justify-content: center;
    border: 0.2vmin black;
}

#spaceman {
    display: flex;
    height: 30vh;
    width: 20vh;
    justify-content: center;
    margin: 0vmin auto;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

#letters>button:hover {
    background-color: lavender;
}

#hint:hover {
    background-color: lavender;
}

#play-again:hover {
    background-color: lavender;
}